{%load static%}
<footer class="footer">
    <div class="card">
      <div class="card-body">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
          <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Distributed By: <a href="https://www.themewagon.com/" target="_blank">ThemeWagon</a></span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard templates</a> from Bootstrapdash.com</span>
        </div>
      </div>
    </div>
  </footer>
  <!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<script>
// Get today's date
var today = new Date();

// Define months array for conversion
var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

// Format today's date
var formattedDate = months[today.getMonth()] + ' ' + today.getDate() + ' , ' + today.getFullYear();

// Find the h4 element and set its innerHTML to the formatted date
document.getElementById('date').innerHTML = formattedDate;
</script>

<!-- base:js -->
<script src="{%static 'admin/vendors/js/vendor.bundle.base.js'%}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="{%static 'admin/vendors/chart.js/Chart.min.js'%}"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="{%static 'admin/js/off-canvas.js'%}"></script>
<script src="{%static 'admin/js/hoverable-collapse.js'%}"></script>
<script src="{%static 'admin/js/template.js'%}"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="{%static 'admin/js/dashboard.js'%}"></script>
<!-- End custom js for this page-->
</body>

</html>